.ContactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 10px;
}

.ContactData h4 {
  margin: 30px 0;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
